[Unit]
Description=Update Google Dynamic DNS for {GoogleFQDN}
Wants=network-online.target
After=network-online.target


[Service]
ExecStart=/bin/bash /opt/updateip.sh

[Install]
WantedBy=multi-user.target
